@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 serif;
}
.homePage {
	background: #D8DEE3;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #336154;
	text-align: center;
	margin: 0;
	padding: 5;
	width: 100%;
	height: 80px;
	overflow: hidden;
  color: #e6e6e3;
}
.header h1 {
  font-weight: 200;
}
.nav {
	background: #BEE6DA;
	margin: 0;
	padding: 5;
	width: 100%;
	height: 60px;
	text-align: center;
  overflow: hidden;
  color:  #336154;
}
.nav a:link {
	color: #336154
}
.nav a:hover {
	color: #23433a
}
.content {
  text-align: Left;
}
.content.home {
  background-image: url('images/psychology.jpg');
  background-size: cover;
  background-position: top center;
  margin: 0px auto;
  height: 800px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.home h1 {
  font-family: serif;
  color:  #b0b6b2;
  font-size: 8em;
  padding-top: 100px;
  mix-blend-mode: overlay;
  font-weight: 200;
}
.footer {
	background: #336154;
	margin: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
  overflow: hidden;
  color: #e6e6e3;
}
.footer h4 {
  line-height: 50px;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
}
a:link {
     color: #FFFFFF;
     cursor: pointer;
}
a:visited {
  color: #FFFFFF;
}
a:hover, a:active, a:focus { 
  text-decoration: underline;
  color:#23433a;
}

.interesttext {
  text-align: center;
  font: serif;
}

.interestimage {
  width:800px;
  height: auto;
  display: block;
  margin: 5px auto;
}

